

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

input:-webkit-autofill{
  -webkit-background-clip: text;
  
}

::-webkit-scrollbar {
  width: 0px;
  display: none;
}

::-webkit-scrollbar-track {
  /* background: #9f5353; */
  /* width: 1px/; */
}

input{
  padding:.5rem  0rem  ;
  border: none;
  
}
*{
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  outline:none;
  border: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  border: none;

}

a {
  color: inherit;
  text-decoration: none;
}
h1{
  font-size: 1.2rem;
}
body{
  font-family: "Poppins","sans-serif";
  overflow-x: hidden;

}
body::-webkit-scrollbar{
  display: none;
}

.theme-icon{
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: white;
}

