.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  width: 350px;
  min-width: 270px;
  height: fit-content;
}

.inactive {
  filter: blur(3px);
}

.carddetails {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  flex-grow: 1;
}

.profile {
  width: 120px;
  height: 120px;
  min-width: 120px;
  min-height: 120px;
  border-radius: 8px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.infosection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
