.recieved-box {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 1.5rem;
}

.hearts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: red;
}
