.box{
    max-width: 100%;
}

.hero{
    max-width: 100%;
    padding: 1rem;
    display: grid;
    height:fit-content;
    grid-template-columns:.6fr 2fr;
    grid-template-rows: 1fr;
    /* grid-gap: 1rem; */
    height: 100%;
    align-items: stretch;
    grid-template-areas: 
    "section-A section-B";
}

.image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    text-align: center;
    line-height: 2;
    padding: 1rem   ;
}
.image-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    border-radius: 50%;
}

.section-A{
    grid-area: section-A;
    /* background-color: aqua; */
    padding: 1rem;
    display: grid;
    height:fit-content;
    grid-template-columns:1fr;
    grid-template-rows: .5fr 2fr;
    grid-gap: 1rem;
    grid-template-areas: 
    "section_1"
    "section_2";
}   

.section-B{
    grid-area: section-B;
    /* background-color: antiquewhite; */
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    gap: 1rem;
}

.section_1{
    grid-area: section_1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.section_2{
    grid-area: section_2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 6px;
    /* padding-left: 20%; */
    overflow-x: scroll;
}

.section_3{
    grid-area: section_3;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
}

.section_4{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    gap: 1rem;
}

.search-bar{
    width: 100%;
    border: none;
    outline: none;
    background-color: white;

}
.student-container{
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 1rem 1rem;
    max-height: 100%;
    overflow-y: scroll;
}

.details-text {
    font-size: 14px;
    margin: -9px 0;
}

.details-text-name {
    font-size: 20px;
    font-weight: bold;
}

.search-div{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem 1rem;
    background-color: white;
    border-radius: 10px;

}

logout-button-div{
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    padding-top: 10px;
}

@media screen and (max-width: 900px){
    .image{
        width: 140px;
        height: 140px;
    }
    .image-container{
        padding: 0.2rem;
    }
    .search-div{
        padding: .5rem .8rem;
    }
    
}


@media screen and (max-width: 600px) {
    .section-A{
        display: flex;
        flex-direction: column;

    }
    .image-container{
        padding: .6rem;
    }

    .hero{
        grid-template-columns: 1fr 2fr;
    }
    
    
    
}