.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-family: 'Poppins';
  font-weight: 600;
  /* height: 80vh ; */
  overflow: scroll;
  /* background-color: rgb(222, 18, 18); */
}
.login-box2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  background-color: rgb(236, 235, 235);
  padding: 3rem 4rem;
  border-radius: 15px;
}
.login-container {
  padding: 2rem;
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.login-submit-button {
  /* padding: 1rem; */
  background-color: rgb(222, 217, 217);
  outline: none;
  border: none;
  color: gray;
  /* width: max-content; */
  padding: 0.8rem 1.3rem;
  border-radius: 15px;
  cursor: pointer;
}

.heart-submit-button {
  /* padding: 1rem; */
  background-color: rgb(248, 150, 179);
  outline: none;
  border: none;
  /* color: rgb(250, 250, 250); */
  /* width: max-content; */
  margin-top: 2.5rem;
  padding: 0.2rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.save-button {
  /* padding: 1rem; */
  background-color: rgb(222, 217, 217);
  outline: none;
  border: none;
  /* color: rgb(250, 250, 250); */
  /* width: max-content; */
  margin-top: 2.5rem;
  padding: 0.2rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  bottom: 0;
}

.login-image {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
.login-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.3rem;
}
.login-form-group {
  padding: 0.6rem 1.3rem;
  margin: 1rem;
  background-color: rgb(222, 217, 217);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.login-input {
  background-color: rgb(222, 217, 217);
  border: none;
  outline: none;
  color: rgb(109, 106, 106);
  font-size: 1rem;
  font-weight: 400;
  width: 300px;
}
.go-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  width: 2.5rem;
  height: 2.5rem;
  position: fixed;
  bottom: 5rem;
  right: 2rem;
  z-index: 99;
  border-radius: 50%;
  cursor: pointer;
  color: white;
}

.login-box::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.login-box {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media screen and (max-width: 1000px) {
  .login-image {
    width: 250px;
    height: 250px;
  }
  .login-box2 {
    gap: 1rem;
    padding: 3rem 2rem;
  }
  .login-input {
    font-size: 0.7rem;
    width: 250px;
  }
  .login-form-group {
    margin: 0.6rem;
    gap: 6px;
    padding: 0.4rem 1rem;
  }

  .login-bottom {
    font-size: 0.8rem;
  }

  .login-container {
    padding: 1rem;
  }
}
@media screen and (max-width: 720px) {
  .login-image {
    width: 220px;
    height: 220px;
  }
}

@media screen and (max-width: 450px) {
  .login-image {
    width: 150px;
    height: 150px;
  }

  .login-container {
    padding: 0rem;
  }
  .login-box {
    padding: 1rem;
  }
  .login-input {
    width: 200px;
  }
  .login-bottom {
    font-size: 0.7rem;
  }
  .login-box2 {
    padding: 1rem;
  }
}
